<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body class="container">
<%- include('../partials/header'); %>

  <main>
    <div class="bg-body-secondary p-5">
      <h1>Node com EJSS</h1>
      <p>Vamos aprender a trabalhar com arquivos EJS</p>
      <p><%=subtitle %></p>
    </div>
    <ul>
      <% qualitys.forEach(function(quality){ %>
          <li>
            <strong><%=quality.title%></strong><%= quality.message %>
          </li>
      <% }) %>
      
    </ul>

  </main>

<%- include('../partials/footer'); %>

</body>

</html>